/* * {
  border: 1px solid red;
} */

body {
  font-family: sans-serif;
}

header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-around;
  padding: 16px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header-links {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 16px;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-content {
  display: flex;
  justify-content: center;
  padding: 64px;
  gap: 64px;
}

.header-text {
  max-width: 480px;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: auto;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin: auto;
}

button {
  color: white;
  background-color: #3882f6;
  font-size: 18px;
  border-radius: 8px;
  border-color: #3882f6;
  padding: 6px 30px;
  margin: 8px 0;
}
.header-image {
  background-color: darkgrey;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  padding: 30px 120px;
}

.main-container-top {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-container-top > h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.main-container-top > h4 {
  margin: auto;
  padding: 5px;
}

.image-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0px 200px;
}

.image-section img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.image-abilites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.image-text {
  max-width: 400px;
  text-align: center;
  color: rgb(101, 98, 98);
}

.main-container-mid {
  background-color: #e5e7eb;
}

.quote {
  padding-top: 100px;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
}

.quote-name {
  font-weight: bold;
  color: #1f2937;
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
  margin-top: 10px;
  padding-bottom: 100px;
}

.bottom-box {
  background-color: #3882f6;
  display: flex;
  padding: 50px;
  margin: 100px;
  justify-content: center;
  gap: 100px;
  border-radius: 8px;
}

.bottom-box-text {
  color: white;
}

.bottom-box-header {
  font-weight: bold;
  margin: auto;
}

.bottom-subtext {
  margin: auto;
  padding-top: 4px;
}

.bottom-signup {
  border-color: white;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 25px;
}
